* {
    font-family: Avenir, Verdana, sans-serif;
    font-style: normal;
    color: rgb(243, 240, 240);
    /* line-height: 1.5em; */
    background-color: #1a222c;
}

html {
    margin: 1% 2%;
    display: block;
}

hr {
    width: 40%;
    margin-left: 0;
    border-color: #7c7c7c;
}

h1 {
    text-align: left;
    font-size: 3em;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 1%;
    color: rgb(18, 110, 197);
}

h1+i {
    text-align: left;
    font-size: 130%;
}

.links {
    margin-top: 10px;
}

.fa-github-alt:before {
    content: "\f113"
}

.fa-linkedin-in:before {
    content: "\f0e1"
}

h2 {
    font-size: 15pt;
    font-weight: 100;
    color: rgb(18, 110, 197);
}


/* -------------------------------------------- */

table {
    padding: 5px;
    overflow: hidden;
}

table td.date {
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    font-variant: small-caps;
    vertical-align: top;
    width: 100px;
}

table td.info {
    text-align: left;
}

table.experience {
    border-collapse: separate;
    border-spacing: 15px;
}

.experience td.date {
    border-right: solid white;
}

table.education {
    border-spacing: 5px;
}

.education td.info {
    padding: 0 20px;
}

table.skills {
    border-spacing: 0px;
}

.skills td.date {
    width: 200px;
}

table.langs {
    border-spacing: 15px;
}

/* -------------------------------------------- */
.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.step {
    width: 20px;
    height: 20px;
    /* background: #fff; */
    border: 2px solid #ACACA6;
    border-radius: 50%;
}

.step.completed {
    background: rgb(18, 110, 197);
    border: 2px solid rgb(18, 110, 197);
}

.progress {
    position: absolute;
    height: 50%;
    border-bottom: 2px solid #ACACA6;
    z-index: -1;
}

.percent {
    position: absolute;
    width: 100px;
    height: 12px;
    border-bottom: 2px solid rgb(18, 110, 197);
    z-index: 1;
}

/* -------------------------------------------- */