* {
  font-family: Avenir, Verdana, sans-serif;
  font-style: normal;
  color: #1f242b;
}

i {
  padding: 5px 5px 5px 0px;
}

i > span {
  padding: 5px 5px;
}

a {
  font-weight: 100;
  text-decoration: none;
}

a:hover {
  font-weight: 120;
  text-decoration: underline;
}

hr {
  width: 100%;
  margin-left: 0;
  border-color: #7c7c7c;
}

h1 {
  text-align: left;
  font-size: 3em;
  line-height: 1em;
  font-weight: 100;
  margin-bottom: 1%;
  color: rgb(18, 110, 197);
}

h1 > a {
  font-size: 40%;
}

h1 + i {
  text-align: left;
  font-size: 130%;
}

h1#andrea-lobo {
  font-size: 35px;
  margin-bottom: -22px;
}

h1#andrea-lobo > strong {
  font-weight: bold;
  color: rgb(18, 110, 197);
}

.links {
  margin-top: 10px;
}

h2 {
  font-size: 15pt;
  font-weight: 100;
  color: rgb(18, 110, 197);
}

h2#title {
  color: var(#1f242b);
  font-weight: 600;
  margin-bottom: -12px;
}

h2 > i {
  color: rgb(18, 110, 197);
}

table td.date {
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-variant: small-caps;
  vertical-align: top;
  width: 100px;
}

table td.info {
  text-align: left;
  //   width: 80%;
}

table.experience {
  border-spacing: 15px 0px;
  //   border-collapse: separate;
  //   border-spacing: 15px;
}

.experience td.date {
  border-right: 1px solid #7c7c7c;
  text-align: left;
  /* border-right: solid white; */
}

.experience td.info {
  //   padding: -20px;
  width: 100%;
  color: red;
  //   color: #1f242b;
}

table.education {
  border-spacing: 15px 0px;
}

.education td.info {
  //   padding: 0 20px;
  width: 600px;
}

.education td.date {
  text-align: left;
  font-variant: small-caps;
}

table.skills {
  border-spacing: 15px 0px;
}

.skills td.date {
  text-align: left;
  width: 175px;
}

.skills td.info {
  width: 500px;
}

table.langs {
  width: 50%;
  border-spacing: 15px 0px;
}

.langs strong {
  font-variant: small-caps;
}

.references {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.references > .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

div.projects {
  padding-left: 15px;
}

.projects span {
  font-weight: bold;
  font-variant: small-caps;
}

.projects a {
  color: rgb(18, 110, 197);
}

.projects a > i {
  color: rgb(18, 110, 197);
}

/* Special print */

.noprint {
  display: none !important;
  opacity: 0;
}

// .fa-github::before {
//   content: url("../assets/img/github.svg");
//   width: 10px;
//   height: 10px;
// }
