/* ---------------  CV  ----------------- */

:root {
    --dark-primary: rgb(18, 110, 197);
    --light-primary: rgb(18, 110, 197);
    --dark-background: #1a222c;
    --light-background: #efefef;
    --dark-font: rgb(243, 240, 240);
    --light-font: var(--dark-background);

    --primary: var(--dark-primary);
    --background: var(--dark-background);
    --font: var(--dark-font);
}


* {
    font-family: Avenir, Verdana, sans-serif;
    font-style: normal;
    color: var(--font);
    background-color: var(--background);
}

html {
    margin: 1% 2%;
    display: block;
    background-color: var(--background);
}

body {
    background-color: var(--background);
    transition: background 0.2s linear;
}

span {
    font-weight: 100;
}

i {
    padding: 5px 5px 5px 0px;
}

i>span {
    padding: 5px 5px;
}

a {
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    font-weight: 120;
    text-decoration: underline;
}

hr {
    width: 40%;
    margin-left: 0;
    border-color: #7c7c7c;
}

h1 {
    text-align: left;
    font-size: 3em;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 1%;
    color: var(--primary);
}

h1>a {
    font-size: 40%;
}

h1+i {
    text-align: left;
    font-size: 130%;
}

.links {
    margin-top: 10px;
}

h2 {
    font-size: 15pt;
    font-weight: 100;
    color: var(--primary);
}

h2#title {
    color: var(--font);
}

h2>i {
    color: var(--primary);
}

table {
    padding: 5px;
    overflow: hidden;
}

table td.date {
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    font-variant: small-caps;
    vertical-align: top;
    width: 100px;
}

table td.info {
    text-align: left;
}

table.experience {
    border-collapse: separate;
    border-spacing: 15px;
}

.experience td.date {
    border-right: solid #7c7c7c;
    /* border-right: solid white; */
}

table.education {
    border-spacing: 5px;
}

.education td.info {
    padding: 0 20px;
}

table.skills {
    border-spacing: 0px;
}

.skills td.date {
    width: 200px;
}

table.langs {
    border-spacing: 15px;
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.step {
    width: 20px;
    height: 20px;
    /* background: #fff; */
    border: 2px solid #acaca6;
    border-radius: 50%;
}

.step.completed {
    background: var(--primary);
    border: 2px solid var(--primary);
}

.progress {
    position: absolute;
    height: 50%;
    border-bottom: 2px solid #acaca6;
    z-index: -1;
}

.percent {
    position: absolute;
    width: 100px;
    height: 12px;
    border-bottom: 2px solid var(--primary);
    z-index: 1;
}

.references {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.references>.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.projects span {
    font-weight: bold;
}

.projects a {
    color: var(--primary);
}

.projects a>i {
    color: var(--primary);
}

/* ----- THEME SWITCH ----- */

.switch {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
    // box-sizing: border-box;

}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  position: relative;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  padding: 5px;
  transform: scale(1.5);
}

.ball {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
