/* ---------------  CV  ----------------- */

:root {
  --dark-primary: rgb(87, 174, 255);
  --light-primary: rgb(35, 136, 230);
  --dark-background: #1f242b;
  --light-background: rgb(243, 240, 240);
  --pdf-background: white;
  --dark-font: var(--light-background);
  --light-font: var(--dark-background);

  --primary: var(--dark-primary);
  --background: var(--dark-background);
  --font: var(--dark-font);
}

@font-face {
  font-family: "SourceSans3";
  src: url("../../assets/fonts/SourceSans3-VariableFont_wght.ttf")
    format("truetype");
}

* {
  font-family: SourceSans3, Avenir, Verdana, sans-serif;
  font-weight: 300;
  color: var(--font);
  background-color: var(--background);
  font-size: 100%;
  //   margin: 1%;
}

html {
  margin: 1% 2%;
  display: block;
  background-color: var(--background);
}

body {
  background-color: var(--background);
  transition: background 0.2s linear;
  margin-bottom: 50px;
}

div#cv > div:not(#spacer):not(#title) {
  margin-bottom: 50px;
}

div.links > table {
  border-spacing: 15px 5px;
  margin-left: -18px;
}

span {
  font-weight: 100;
}

i {
  width: 16px;
  padding: 5px 10px 5px 3px;
  color: var(--primary);
}

i > span {
  padding: 5px 5px;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  font-weight: 400;
}

hr {
  width: 100%;
  margin-left: 0;
  border-color: #7c7c7c;
}

h1 {
  text-align: left;
  font-size: 30pt;
  font-weight: 100;
  margin-bottom: -20px;
  color: var(--primary);
}

h1 > span {
  font-weight: 400;
  font-variant: small-caps;
  color: var(--primary);
}

h1 > a {
  font-size: 40%;
}

.links {
  margin-top: 10px;
}

h2 {
  font-weight: 400;
  color: var(--primary);
}

h2#title {
  color: var(--primary);
  font-weight: 400;
  margin-bottom: -12px;
  font-size: 15pt;
}

table {
  border-spacing: 15px 0px;
}

.projects span.name,
td.date {
  text-align: left;
  padding-right: 10px;
  font-weight: 500;
  font-variant: small-caps;
}

td.info {
  text-align: left;
}

.experience td.date {
  border-right: 1px solid #7c7c7c;
  vertical-align: top;
  width: 70px;
}

div.experience td.company {
  font-weight: 400;
}

span.company {
  font-weight: 400;
  font-variant: small-caps;
}

.references {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.references > .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.projects > div {
  margin-left: 15px;
}

.projects a > i {
  color: var(--primary);
}

.pills {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 10pt;
  width: min-content;
  padding: 2px;
  margin: 2px;
  color: var(--font);
  font-family: "Courier New", Courier, monospace;
}

.twocolumns {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.column:nth-child(1) {
  flex: 1;
}
.column:nth-child(2) {
  flex: 1;
  margin-left: 5%;
}

#footer {
  display: none;
  justify-content: center;
  position: relative;
  font-size: 11px;
  top: 45px;
  height: 10px;
}

#footer > span {
  color: #7c7c7c;
}

@media print {
  @page {
    size: A4; /* Change from the default size of A4 */
    margin: 20px 50px; /* Set margin on each page */
  }

  * {
    color: var(--light-font);
    background-color: var(--pdf-background);
  }

  html {
    display: block;
    background-color: var(--pdf-background);
  }

  body {
    background-color: var(--pdf-background);
    padding: 0px;
    margin: 0px;
  }

  div#cv > div:not(#spacer):not(#title) {
    margin-bottom: 0px;
  }
  div#cv > div.links {
    margin-bottom: 10px;
  }

  a,
  i,
  h1,
  h1 > span,
  h2,
  h2 > i,
  h2#title {
    color: var(--light-primary);
  }

  h1 {
    font-size: 20pt;
  }

  td.date {
    font-size: 10pt;
  }

  .experience td.date {
    width: 54px;
  }

  .links {
    margin-top: 0px;
  }

  div.experience {
    margin-top: 10px;
  }

  .column:nth-child(1) {
    flex: 0.73;
    overflow: visible;
  }
  .column:nth-child(2) {
    flex: 0.7;
  }

  .pills {
    color: var(--light-font);
  }

  #footer {
    display: flex;
  }

  .noprint {
    display: none !important;
    opacity: 0;
  }

  .newpage {
    page-break-before: always;
  }
}

/* ----- THEME SWITCH ----- */

/* The switch - the box around the slider */
.switch {
  margin-left: 20px;
  margin-top: 2px;
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--dark-background);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-background);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
